<div>
  <table class="table table-striped" [rtList]="getCurrencies" #list="rtList">
    <thead>
      <tr>
        <th>Code</th>
        <th>Description</th>
        <th *ngIf="(mode === 'single' || mode === 'multiple')">Select</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let currency of list.items">
        <td>{{currency.code}}</td>
        <td>{{currency.description}}</td>
        <td>
            <div *ngIf="mode=='single'">
              <input type="button" (click)="selectCurrency(currency.code, true)" value="Select"> 
            </div>
            <div *ngIf="mode=='multiple'">
              <input type="checkbox" #checkbox (click)="selectCurrency(currency.code, checkbox.value)" value="Select"> 
            </div>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="(mode === 'view' || mode === 'multiple')">
      <button (click)="confirm()">OK</button>
      <span *ngIf="mode!='view'">
        <button (click)="cancel()">Cancel</button>
      </span>
    </tfoot>
  </table>
</div>