@import '../../node_modules/@angular/material/core/theming/all-theme';

@include md-core();
$app-primary: md-palette($md-light-blue, 500, 100, 700);
$app-accent:  md-palette($md-pink, A200, A100, A400);
$app-warn:    md-palette($md-red);
$app-theme: md-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);

.fill-remaining-space {
  flex: 1 1 auto;
}



/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';




body {
  background-color: #f8f8f8;
  /* font-family: 'Muli', sans-serif; */
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
}

a.active {
  background-color: gray;
}

md-toolbar, nav {
  margin-top: 16px;
}

nav a, md-toolbar a[md-button] {
  background-color: $nav-button-color;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.module-sidenav {
  background-color: lightskyblue;
  color: darkblue;
  height: 100%;
}

.module-container {
  background-color: lightgray;
  color: darkslategrey;
  height: 100%;
}

.module-main-content {
  background-color: lightskyblue;
  color: darkblue;
  height: 100%;
}

.main-container {
  background-color: green;
}

.main-app-container {
  height: 100%
}

button.module-form-action-button {
  margin: 0;
  padding: 4px 0px 4px 0px;
  border-radius: 4px;
  min-width: 30px;
  background-color: darkslategray;
}

