html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
/*
body {
  padding-top: 50px;
}
*/
app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.full-size-container {
  height: 100%;
  width: 100%;
}

.footer-container {
  background-color: lightslategray;
}

main {
  height: 100%;
  background-color: lightgreen;
}

.fill-vertical-space {
  display: flex;
  flex-grow: 1;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
