<!--
<div fxFlex="100%" fxLayout="column" fxLayoutAlignment="start stretch" class="main-app-container">
  <div class="main-app-toolbar-container">
    <md-toolbar class="main-app-toolbar" fxLayout="row" fxLayoutAlign="center center" color="primary">
      <div>
        <a routerLink="/" class="main-app-toolbar-title">JSMoney</a>
      </div>
      <md-toolbar-row class="main-app-toolbar-buttonsrow" fxLayout="row" fxLayoutAlign="center center">
        <div [hidden]="userState.id">
          <a md-button [routerLink]="['/login']">Login</a>
          <a md-button [routerLink]="['/register']">Sign up</a>
        </div>
        <div [hidden]="!userState.id">
          <a md-button [routerLink]="['./profile']" routerLinkActive="active">Profile</a>
          <a md-button [routerLink]="['./datasets']" routerLinkActive="active">Datasets</a>
          <a md-button [routerLink]="['./accounts']" routerLinkActive="active">Accounts</a>
          <span fxFlex></span>
          <button md-button (click)="logout()">Logout</button>
        </div>
      </md-toolbar-row>
    </md-toolbar>
  </div>

  <main fxFlex class="main-container">
    <router-outlet></router-outlet>
  </main>

  <div class="main-footer">
    <pre class="app-state">this.appState.state = {{ appState.getAppState() | json }}</pre>
    <pre class="app-state">this.userState = {{ userState.id }}, {{ userState.username }}, {{ userState.role }}</pre>
  </div>
</div>

<footer>
  <span>WebPack Angular 2 Starter by <a [href]="url">@AngularClass</a></span>
  <div>
    <a [href]="url">
      <img [src]="angularclassLogo" width="25%">
    </a>
  </div>
</footer>

-->
<div class="d-flex flex-column fill-vertical-space">
  <div class="clearfix px-0 mx-0">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">JSMoney</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav">
            <a class="nav-item nav-link" [hidden]="!userState.loggedIn" [routerLink]="['./profile']" routerLinkActive="active">Profile <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" [hidden]="!userState.loggedIn" [routerLink]="['./datasets']" routerLinkActive="active">Datasets</a>
            <a class="nav-item nav-link" [hidden]="!userState.loggedIn" [routerLink]="['./accounts']" routerLinkActive="active">Accounts</a>
            <a class="nav-item nav-link" [hidden]="!userState.loggedIn" [routerLink]="['./home']" routerLinkActive="active">Home</a>
            <a class="nav-item nav-link" [hidden]="userState.loggedIn" [routerLink]="['./login']" routerLinkActive="active">Login</a>
          </div>
          <div class="navbar-nav ml-auto">
            <button [hidden]="!userState.loggedIn" class="btn btn-sm align-baseline btn-outline-success" type="button" (click)="logout()">Logout</button>
          </div>
        </div>
    </nav>
  </div>


  <main class="fill-vertical-space">
    <router-outlet></router-outlet>
  </main>

  <div class="footer-container">
    <div class="row">
      <div class="col-4 text-left">
        <span>JSMoney by gpaglia</span>
      </div>
      <div class="col-4 text-center">
        <span>...</span>
      </div>
      <div class="col-4 text-right">
        <span *ngIf="userState.loggedIn">Logged In as {{userState.username}} ({{userState.role}})</span>
        <span *ngIf="!userState.loggedIn">Not Logged In</span>
      </div>
    </div>
    <div class="row" *ngIf="message">
      <alert [type]="message.type" dismissable="true">{{message.text}}</alert>
      <button type="button" class="btn btn-primary" (click)="clearMessage()">Dismiss</button>
    </div>
  </div>
</div>